/* .menuWrapper {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 40px;
    height: 40px;
} */

body {
    background-color: #1b2028;
}

#menu {
    display: flex;
    align-items: center;

    max-width: 600px;
    /* might need to change this later */
    width: 125px;
    font-family: "Avenir", "arial";
    line-height: 25px;
    text-align: justify;
    font-weight: 400;
    font-size: 1em;
    font-variant: no-common-ligatures;
    font-size: 20px;
    padding: 0.5em;
    border: 0;
    margin: 0;
    border-radius: 10px;
    cursor: pointer;
}

#menuParent {
    padding: 0;
    color: #23a9d5;
    /* border: 1px solid #1b2028; */
    margin: 0;
    border-radius: 10px;
    height: 25px;
    /* width: 27px; */
    cursor: pointer;
}

#menuParent:hover {
    /* border-color: #4b5975; */

    /* background-position: center; */
    color: #ccccb5;
    transition: all 0.5s ease;
}

.item {
    color: #4b5975;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    opacity: -2; /* had to set opacity to -1 to avoid weird stutter from bounceback effect in anime.js */
    list-style: none;
}

.item:hover {
    color: #ccccb5;
    transition: all 0.5s ease;
    cursor: pointer;
}
/* 
#item1:hover {
    background-color: #4b5975;
    background-position: center;
    transition: all 0.5s ease;
}

#item2:hover {
    background-color: #4b5975;
    background-position: center;
    transition: all 0.5s ease;
}

#item3:hover {
    background-color: #4b5975;
    background-position: center;
    transition: all 0.5s ease;
}

#item4:hover {
    background-color: #4b5975;
    background-position: center;
    transition: all 0.5s ease;
} */

/* #item1 {
    background-color: aqua;
    border-radius: 10px;
    width: 0%;
} */